/*
 * @file
 * Provides the layout styles for layout_brick.
 *
 * @todo Using display: flex requires https://www.drupal.org/node/2842298 to be
 * in before this can be marked as stable.
 */

.layout--banner {
  display: flex;
  flex-wrap: wrap;
}

.layout--banner > .layout__region {
  flex: 0 1 100%;
}

@media screen and (min-width: 40em) {
  .layout--banner > .layout__region--banner,
  .layout--banner > .layout__region--aside,
  .layout--banner > .layout__region--mid {
    flex: 0 1 calc(100% / 3);
  }
}
