/*
 * @file
 * Provides the layout styles for layout_twocol.
 *
 * @todo Using display: flex requires https://www.drupal.org/node/2842298 to be
 * in before this can be marked as stable.
 */

.layout--two-col-4-8 {
  display: flex;
  flex-wrap: wrap;
}

.layout--two-col-4-8 > .layout__region {
  flex: 0 1 100%;
}

@media screen and (min-width: 40em) {
  .layout--two-col-4-8 > .layout__region--main {
    flex: 0 1 34%;
  }

  .layout--two-col-4-8 > .layout__region--aside {
    flex: 0 1 66%;
  }
}
