<div class="py-5">
  {% include '@molecules/_banner.twig' with {
    banner: banner_1
  }%}
</div>
<div class="py-5">
  {% include '@molecules/_banner.twig' with {
    banner: banner_2
  }%}
</div>
<div class="py-5">
  {% include '@molecules/_banner.twig' with {
    banner: banner_3
  }%}
</div>
<div class="py-5">
  {% include '@molecules/_banner.twig' with {
    banner: banner_4
  }%}
</div>
