{#
/**
 *
 *  Never used in isolation, this serves as a base template for other layout templates
 *
**/
#}

{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {% if content.banner %}
      <div {{ region_attributes.banner.addClass('layout__region', 'layout__region--banner') }}>
        {{ content.banner }}
      </div>
    {% endif %}

    {% if content.main %}
      <div {{ region_attributes.main.addClass('layout__region', 'layout__region--main') }}>
        {{ content.main }}
      </div>
    {% endif %}

    {% if content.mid %}
      <div {{ region_attributes.mid.addClass('layout__region', 'layout__region--mid') }}>
        {{ content.mid }}
      </div>
    {% endif %}

    {% if content.aside %}
      <div {{ region_attributes.aside.addClass('layout__region', 'layout__region--aside') }}>
        {{ content.aside }}
      </div>
    {% endif %}
  </div>
{% endif %}
