.featured-promo {
  position: relative;
  padding: $spacing--12x $spacing--7x;
  @include media-breakpoint-up(sm) {
    padding: $spacing--20x;
  }
  &__wrapper {
    z-index: 2;
  }
  .overlay,
  .gradient-overlay,
  &__pattern {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .overlay {
    z-index: -2;
  }
  &__title {
    font-family: $ff--secondary;
    font-size: $fs--28px;
    line-height: $spacing--11x;
    color: $c-white;
    margin-bottom: $spacing--7x;
    @include media-breakpoint-up(sm) {
      font-size: $fs--36px;
      margin-bottom: $spacing--11x;
    }
  }
  .body-field p {
    font-size: $fs--16px;
    color: $c-white;
    margin-bottom: $spacing--10x;
    @include media-breakpoint-up(sm) {
      font-size: $fs--20px;
      line-height: 1.6;
      margin-bottom: $spacing--11x;
    }
  }
  &__button {
    margin-top: $spacing--6x;
    @include media-breakpoint-up(sm) {
      margin-top: $spacing--8x;
    }
    .fm-btn {
      display: inline-flex;
    }
    .btn-blue {
      color: $c-white;
    }
  }
  &__image-wrapper {
    margin-top: $spacing--10x;
    @include media-breakpoint-up(md) {
      margin-top: 0;
      max-height: 420px;
    }
  }
  &__image {
    width: 100%;
    border-radius: 0 $spacing--12x;
    @include media-breakpoint-up(sm) {
      border-radius: 0 $spacing--25x;
    }
  }
  &__text-right {
    order: 2;
    @include media-breakpoint-down(sm) {
      padding-top: $spacing--6x;
    }
  }
  &.color-trigger--gray {
    .featured-promo__title,
    .featured_promo__description,
    p {
      color: $c-black;
    }
  }
}
