{#
/**
 * @file
 * featured-promo
 *
 * Available variables for featured-promo:
 *    - color: String: Background color behind pattern.
 *    - title: String: Title of page
 *    - description: String: Description text
 *    - link_url: String: Url of link
 *    - link_title: String: Link text
 *    - button_color: String: blue|transparent button style on link. Defaults to 'transparent'
 *    - img_src: String: Image src (Optional)
 *    - img_alt: String: Image alt text
 *    - content_placement: String: left|right controls where content is placed
 */
#}

{% set classes = [
  'featured-promo',
  featured_promo.color ? 'color-trigger--' ~ featured_promo.color,
  (featured_promo.color != 'gray' and featured_promo.color) ? 'style-alternate'
] | sort | join(' ') | trim  %}

{% set button_classes = [
  'fm-btn',
  'btn-blue',
  'btn-pill',
  (featured_promo.color != 'gray' and featured_promo.color) ? 'btn-transparent' : 'btn-blue'
] | sort | join(' ') | trim   %}

<div class="{{ classes }}">
  <div class="featured-promo__pattern" style="background:url({{ paths.assets ~ '/pattern-circle.png' }}); background-size: contain; background-repeat: repeat;"></div>
  <div class="overlay"></div>
  <div class="gradient-overlay {{ 'color-transparent-gradient--' ~ featured_promo.color }}"></div>
  <div class="featured-promo__wrapper container">
    <div class="row">
      <div class="col-xs-12 {{ featured_promo.img_src ? 'col-md-5' : 'col-sm-12'}} {{ 'featured-promo__text-' ~ featured_promo.content_placement }}">
        <h2 class="featured-promo__title promo-title-lg"> {{ featured_promo.title }}</h2>
        {% block promo_body %}
          {% if featured_promo.description %}
            <p class="featured_promo__description">{{ featured_promo.description }} </p>
          {% endif %}
        {% endblock %}
        {% if featured_promo.link_url %}
          {% block promo_link %}
            <div class="featured-promo__button">
              <a href="{{ featured_promo.link_url }}" class="{{ button_classes }}">{{ featured_promo.link_title }}</a>
            </div>
          {% endblock %}
        {% endif %}
      </div>

      {% if featured_promo.img_src %}
        {% block promo_image %}
          <div class="featured-promo__image-wrapper col-xs-12 col-md-7">
            <img src="{{ featured_promo.img_src  }}" alt="" class="featured-promo__image">
          </div>
        {% endblock %}
      {% endif %}
    </div>
  </div>
</div>
