{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 *  Vars set in preprocess
 *  - variant: string| the pattern to use (banner or featured-promo).
 *  - orientation: string| the L/R alignment of text content.
 *  - swoosh: bool| use a swoosh?
 *
 * @see template_preprocess_block()
 */
#}

{% set swoosh_direction = (orientation == 'right') ? 'left' : 'right' %}

{% set cta = {
  content_placement: orientation,
  swoosh_direction: swoosh ? swoosh_direction : '',
  solid: swoosh ? false : true,
  title: content.field_heading|field_value,
  img_src: content.field_media|field_value|render|striptags|trim,
  link_url: content.field_link.0['#url'],
  link_title: content.field_link.0['#title'],
  description: content.body|field_value,
  color: content.field_color|field_value|render,
  cta: {
    text: content.field_link.0['#title'],
    link_url: content.field_link.0['#url'],
  }
} %}

<div{{ attributes }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}

  {% if variant == 'banner' %}
    {% embed '@molecules/_banner.twig' with { banner: cta } %}
    {% endembed %}
  {% elseif variant == 'featured-promo' %}

    {% embed '@molecules/_featured-promo.twig' with { featured_promo: cta } %}
      {% block promo_body %}
        {{ content.body }}
      {% endblock %}
    {% endembed %}

  {% endif %}
</div>
