{#
/**
 * @file
 * author-byline
 *
 * Available variables for author-byline:
 *    - eyebrow: String: Eyebrow text above title
 *    - title: String: Title of article
 *    - img_src: String: Src for image. Needs to be cropped down to 84px square
 *    - img_alt: String: Alt text for image
 *    - author: String: Author information
 *    - date: String: Date of article
 */
#}

<div class="author-byline">
    <p class="author-byline__eyebrow">{{ author_byline.eyebrow }}</p>
    {% block author_byline_title %}
        <h1 class="author-byline__title">{{ author_byline.title }}</h1>
    {% endblock %}
    <p class="author-byline__date">
        {{ author_byline.date }}
        {% if author_byline.author %}
            | {{ 'By '|t }} {{ author_byline.author }}
        {% endif %}
    </p>
</div>
