// Custom styles for author-byline

// The non-printing variables, functions, and mixins of 00-protons/variables
// are provided to this file via:
//   webpack.particle.js: sass-loader.data|includePaths

.author-byline {
  max-width: 700px;
  width: 100%;
  padding: 0 $spacing--5x;
  @include media-breakpoint-up(sm) {
    padding: 0;
  }

  &__eyebrow {
    text-transform: uppercase;
    font-size: $fs--14px;
    line-height: 2.1;
    color: $c-teal;
    font-weight: $fw--600;
    margin: 0;
  }

  &__title {
    margin: 0 0 $spacing--7x;
    color: $c-teal;
    font-weight: $fw--700;
    @include media-breakpoint-up(md) {
      font-size: $fs--50px;
      line-height: 1.3;
    }
  }

  &__details {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: $spacing--2x;
  }

  &__date {
    margin: -$spacing--5x 0 $spacing--5x;
    //color: $c-teal;
    @include media-breakpoint-up(md) {
      font-size: $fs--18px;
      line-height: 1.6;
    }
  }

  &__img img {
    width: 84px;
    height: 84px;
    display: block;
    @include box-shadow-default($color: rgba($c-black, 0.5));
    border-radius: 50%;
    margin: 0 $spacing--4x $spacing--2x 0;
  }
}
