<div class="bg-container container">
  {% set _banner %}
    <div style="border: dashed 1px #000; height: 400px; display: flex; justify-content:center; align-items: center; margin: 15px 0; width: 100%;">
      <h3 style="text-align: center;">Hello banner content!</h3>
    </div>
  {% endset %}

  {% set _banner_image %}
    <img src="{{ paths.assets ~ '/hp-featured-image.png' }}" alt="" style="width: 100%; object-fit: cover; max-height: 400px;">
  {% endset %}

  {% set _main %}
    <div style="border: dashed 1px #000; height: 400px; display: flex; justify-content:center; align-items: center; margin: 15px 0; width: 100%;">
      <h3 style="text-align: center;">Hello main content!</h3>
    </div>
  {% endset %}

  {% set _aside %}
    <div style="border: dashed 1px #000; height: 400px; display: flex; justify-content:center; align-items: center; margin: 15px 0;">
      <h3 style="text-align: center;">Hello aside content!</h3>
    </div>
  {% endset %}
  {% set _main_1 %}
    <div style="border: dashed 1px #000; height: 400px; display: flex; flex-direction: column; justify-content:center; align-items: center; margin: 15px 0; width: 100%;">
      <h3 style="text-align: center;">Hello main content!</h3>
    </div>
  {% endset %}

  {% set _aside_1 %}
    <div style="border: dashed 1px #000; height: 400px; display: flex; flex-direction: column; justify-content:center; align-items: center; margin: 15px 0;">
      <h3 style="text-align: center;">Hello aside content!</h3>
    </div>
  {% endset %}

  {% set _mid %}
    <div style="border: dashed 1px #000; height: 400px; display: flex; justify-content:center; align-items: center; margin: 15px 0;">
      <h3 style="text-align: center;">Hello primary mid content!</h3>
    </div>
  {% endset %}

  {% set _mid_secondary %}
      <div style="border: dashed 1px #000; height: 400px; display: flex; justify-content:center; align-items: center; margin: 15px 0;">
        <h3 style="text-align: center;">Hello secondary mid content!</h3>
      </div>
  {% endset %}

  {% if not styleguide %}
  <div class="container">
    <h1>Layout Demo</h1>
    <p>
      Grids are exceptionally documented. Encourage reading the grid docs on <a
        href="https://getbootstrap.com/docs/4.0/layout/grid/" target="_blank" rel="noopener noreferrer">Bootstrap</a>.
      Basics: Wrap content in a container. See Layout Demo for info on containers.
      Rows are wrappers for columns via the <code>.row</code> class.
      Use <code>col-</code> classes to size your columns between 1 - 12, ex.
    </p>
    <hr>
  </div>
  {% endif %}

  <h3 class="py-5 container">Full-width content</h3>
  {% include '@atoms/_layout.twig' with {
    layout: layout_example_01|merge({ main: _main, aside: _aside })
  }%}

  <h3 class="py-5 container">Main-left content</h3>
  {% include '@atoms/_layout.twig' with {
    layout: layout_example_02|merge({ main: _main_1, aside: _aside_1 })
  }%}

  <h3 class="py-5 container">Main-right content</h3>
  {% include '@atoms/_layout.twig' with {
    layout: layout_example_03|merge({ main: _main_1, aside: _aside_1 })
  }%}

  <h3 class="py-5 container">Two-col content</h3>
  {% include '@atoms/_layout.twig' with {
    layout: layout_example_05|merge({ main: _main, aside: _aside })
  }%}

  <h3 class="py-5 container">Three-col content</h3>
  {% include '@atoms/_layout.twig' with {
    layout: layout_example_06|merge({ main: _main, mid: _mid, aside: _aside })
  }%}

  <h3 class="py-5 container">Three-col highlight content</h3>
  {% include '@atoms/_layout.twig' with {
    layout: layout_example_07|merge({ main: _main, mid: _mid, aside: _aside })
  }%}

  <h3 class="py-5 container">Brick content</h3>
  {% include '@atoms/_layout.twig' with {
    layout: layout_example_08|merge({ banner: _banner, main: _main, aside: _aside })
  }%}
</div>
<h3 class="py-5 container">Masthead two-col content</h3>
<div style="">
  {% include '@atoms/_layout.twig' with {
    layout: layout_example_09|merge({ banner: _banner_image, main: _main_1, aside: _aside_1 })
  }%}
</div>
<br>
<h3 class="py-5 container">Masthead one-col content</h3>
<div style="">
  {% include '@atoms/_layout.twig' with {
    layout: layout_example_10|merge({ banner: _banner_image, main: _main_1  })
  }%}
</div>
<br>
