{#
  Banner!

  swoosh_direction: String: left|right controls border-radius("swoosh") location
  content_placement: String: left|right controls where content is placed
  color: String: Content background color
    see @protons/_colors-used for available options and usage docuementation
  solid: Bool: solid or transparent color?
  img_src: String: Background image src
  title: String: Title
  description: String: Description
  cta: Obj: Call to action link
    text: Cta text
    url: Cta link

  banner_cta: Block: Override variable for CTA link
#}

{% set content_classes = [
  'banner-promo__content',
  banner.swoosh_direction ? 'swoosh-' ~ banner.swoosh_direction,
  (banner.content_placement == 'left') ? 'col-sm-6' : 'col-sm-6 offset-sm-6',
  banner.color ? 'color-trigger color-trigger--' ~ banner.color : 'color-trigger--white',
  (banner.color != 'gray' and banner.color) ? 'style-alternate',
  banner.solid ? 'color-solid',
] | sort | join(' ') | trim %}

<div class="banner-promo">
  <div class="banner-promo__image" style="background: url({{ banner.img_src }}); background-repeat: no-repeat; background-size: cover;"></div>
  <div class="container">
    <div class="{{ content_classes }}">
      <h3 class="banner-promo__title promo-title-lg">{{ banner.title }}</h3>
      <p class="banner-promo__description">{{ banner.description }}</p>
      {% block banner_cta %}
        {% if banner.cta %}
          {% include '@atoms/_button.twig' with {
            button_pill: true,
            button_element: 'a',
            button_color: banner.color ? 'transparent' : 'white',
            button_text: banner.cta.text,
            button_link: banner.cta.url
          }%}
        {% endif %}
      {% endblock %}
    </div>
  </div>
</div>
