.banner-promo {
  position: relative;
  @include media-breakpoint-up(sm) {
    padding: $spacing--25x 0;
  }
  .swoosh-right {
    border-bottom-left-radius: 0;
  }
  .swoosh-left {
    border-bottom-right-radius: 0;
  }
  .container {
    @include media-breakpoint-down(xs) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  &__image {
    width: 100%;
    min-height: 170px;
    max-height: 300px;
    @include media-breakpoint-up(sm) {
      position: absolute;
      height: 100%;
      min-height: unset;
      max-height: unset;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }
  &__content {
    padding: $spacing--12x $spacing--10x;
  }
  &__title {
    margin-bottom: $spacing--9x;
  }
  &__description {
    font-size: $fs--20px;
    line-height: 1.6;
  }
  .fm-btn {
    display: inline-flex;
    margin-top: $spacing--7x;
  }
  .color-trigger {
    @include media-breakpoint-up(sm) {
      opacity: 0.9;
    }
  }
  .color-trigger.color-solid {
    @include media-breakpoint-up(sm) {
      opacity: 1;
    }
  }
}
