<article {{ attributes.addClass('component-space-lg') }}>
  <div role="tablist" class="fm-accordion">
    {{ title_prefix }}
    {% if content.field_title %}
      <h2>{{ content.field_title }}</h2>
    {% endif %}
    {{ title_suffix }}
    <div class="fm-accordion__list">
      {{ content.field_accordion_item }}
    </div>
  </div>
</article>
