{#
/**
 * @file
 * accordion
 *
 * Available variables for accordion:
 * accordion_id: Integer: A unique numerical ID for the accordion.
 * accordion_item_header: String: The header on the accordion.
 * accordion_text: String: The text on the accordion.
 * accordion_expanded: String: The default collapse state on the accordion.
 */
#}

{% set accordion = {
  accordion_list: [
    {
      accordion_item_header: content.field_accordion_title|field_value,
      accordion_text: content.field_accordion_body,
      accordion_expanded: content.field_accordion_expanded|field_raw('value'),
      accordion_position: content.field_accordion_icon_position|field_raw('value')
    }
  ]
} %}

<div{{ attributes }}>
  {% include '@organisms/_accordion.twig' with accordion %}
</div>
