<br>
<div class="container">
  <h1>This is demo of the featured promo.</h1>
  <p>There is the option to have any of the fannie mae colors behind the background image.</p>
</div>
<br>

<div>
  Orange variant with transparent link
{% include '@molecules/_featured-promo.twig' with {
    featured_promo: featured_promo
} %}
</div>
<br>

<div>
  Yellow variant with transparent link
{% include '@molecules/_featured-promo.twig' with {
  featured_promo: featured_promo_2
} %}
</div>
<br>

<div>
  Magenta variant with default link
  {% include '@molecules/_featured-promo.twig' with {
    featured_promo: featured_promo_3
  } %}
</div>
<br>

<div>
  Teal variant without a link or image
  {% include '@molecules/_featured-promo.twig' with {
    featured_promo: featured_promo_4
  } %}
</div>
<br>

<div>
  Gray variant without a link
  {% include '@molecules/_featured-promo.twig' with {
    featured_promo: featured_promo_5
  } %}
</div>
<br>

<div>
  Blue variant with default link
  {% include '@molecules/_featured-promo.twig' with {
    featured_promo: featured_promo_6
  } %}
</div>
<br>

<div>
  Green variant without a link
  {% include '@molecules/_featured-promo.twig' with {
    featured_promo: featured_promo_7
  } %}
</div>
