.fm-layout {
  &__row {
    @include media-breakpoint-up(sm) {
      width: 90%;
      margin: 0 auto;
    }
  }
  &--three-col-highlight {
    @each $color-name, $color-map in $color-switch-map {
      .color-trigger--#{$color-name} {
        background: $c-white;
        @include media-breakpoint-up(sm) {
          background: linear-gradient(to right, map-get($color-map, color) 0%, map-get($color-map, color) 34%, $c-white);
        }
        .col--main {
          @include media-breakpoint-down(sm) { // stylelint-disable-line max-nesting-depth
            background: map-get($color-map, color);
          }
        }
      }
    }
    .col--main {
      @include media-breakpoint-down(sm) {
        margin-left: -15px;
        margin-right: -15px;
        padding: $spacing--8x 30px;
        width: calc(100% + 30px);
      }
    }
    .col--mid,
    .col--aside {
      background: $c-white;
    }
    .col--mid {
      background: $c-white;
      border-bottom-left-radius: 70px;
    }
  }
  &--brick {
    .col-banner {
      @include media-breakpoint-up(sm) {
        padding: 0 15%;
      }
    }
  }
  &--masthead-one-col {
    h1,
    p {
      text-align: center;
    }
  }
  &--placemat,
  &--masthead-one-col,
  &--masthead-two-col {
    padding-top: $spacing--17x;
    padding-bottom: $spacing--17x;
    @include media-breakpoint-down(sm) {
      padding-top: $spacing--8x;
      padding-bottom: $spacing--8x;
    }
  }
  &--masthead-one-col,
  &--masthead-two-col {
    padding-top: 0;
    @include media-breakpoint-up(sm) {
      position: relative;
    }
    .fm-layout--placemat {
      padding-bottom: 0;
      @include media-breakpoint-up(sm) {
        padding-top: $spacing--20x;
        margin: 0 auto;
      }
    }
    .col-banner {
      @include media-breakpoint-up(sm) {
        min-height: 300px;
        max-height: 400px;
        overflow: hidden;
        margin-bottom: -14%;
      }

    }
  }
  &--placemat {
    margin-bottom: $spacing--10x;
    @include media-breakpoint-up(sm) {
      margin-bottom: $spacing--20x;
    }
  }
  .col-sm-9 {
    @include media-breakpoint-up(md) {
      padding-right: 50px;
    }
  }
}

.layout__region--aside {
  margin-top: $spacing--5x;
  @include media-breakpoint-up(sm) {
    margin: 0;
  }
}
.layout--two-col-9-3 {
  padding: 0 $spacing--5x;
  @include media-breakpoint-up(md) {
    padding: 0;
  }
}
